{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        <img src="{% static 'img/logo.png' %}" />
    </div>
    
    <div class="archive">
        <div class="nav">
            {% if request.user.is_authenticated %}
                <label>Вы вошли как: ({{ request.user.username }}) | </label>
                <a href="{% url 'create_post' %}">Новая Статья</a>
                <label> | </label>
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'authentication' %}">Вход</a>
                <label> | </label>
                <a href="{% url 'registration' %}">Регистрация</a>
            {% endif %}
        </div>
        <div class="one-post">
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <div class="article-text">
                {{ post.text }}
            </div>
        </div>
        <div class="nav">
            <a href="{% url 'archive' %}">← Все записи</a>
        </div>
    </div>
</body>
</html>